html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
}
/*Fonts*/
.primary-font {
  font-family: 'Pacifico', cursive;
}
.secondary-font {
  font-family: 'Roboto', sans-serif;
}

/*Map Page*/
#map {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.filter-box {
  height: 300px;
  width: 500px;
  border-radius: 25px;
  top: 350px;
  left: 50%;
  position: absolute;
  border: 1px solid black;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.7);
}

#filters li { 
  list-style-type: none;
}

.left-items {
  position: absolute;
  font-size: 19px;
}

.right-items {
  position: absolute;
  right: 20%;
  font-size: 19px;
}

/*ul li .filterbox{
  font-family: 'Roboto', sans-serif !important;
Doesnt work }*/  

input.submit-button {
  margin-top: 38%;
  margin-left: 28%; 
}

/*Center*/
.center {
  margin: 0 auto;
  text-align: center;
}


/*Navbar*/
nav {
  z-index : 2;
}

nav.navbar {
  border: 0px;
}

nav.navbar.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    min-height: 85px;
}

a.navbar-brand.makegoodtimebrand {
    margin-top: 15px;
  }


/*Main Page*/
.mainpage-background {
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0px; 
  /* need a media query for 691px if we keep the z-index, because breakpoint for navbar at 691px */
  left: 0px;
  background-image: url("https://alphabetcityestates.files.wordpress.com/2013/03/london-skyline.jpg");
  background-repeat: no-repeat;
}
/*
@media only screen and (max-width: 767 px) {
    .mainpage-background {
     top: 84px; 
    }
}*/
.shader {
  background-color: rgba(255,255,255,0.2);

}
.title {
  font-size: 90px;  
  color: #000099;
  margin-top: 100px;
  padding-top: 30px;
  /*border: 1px solid blue;*/
}
.secondary-title {
  font-size: 50px;
  /*border: 1px solid red;*/
  margin-top: -41px;
  color: white;
}

.description {
  font-size: 30px;
  width: 310px;
  /*border: 1px solid black;*/
  margin-top: 30px;
  color: black;
}

.button-transparent-blue {
  height: 34px;
  width: 154px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-color: rgba(22, 28, 44, 0.6);
  background-color: rgba(22, 28, 44, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
button:focus {outline:0;}

.button-transparent-blue:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*Forms (register & Login)*/
.form-group {
  width: 50%;
  margin: 0 auto;
}


/*For info Window styling*/
.info-photo {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
}

.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0;
}

.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; 
}
.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}


