<div class="mainpage-background center">
  <div class="shader center vertcenter">
    <div class="titles-div">
      <p class="primary-font title ">Make Good Time</p>
    </div>  
    <div class="secondary-title">A good day is just a few clicks away!</div>
    <div class="description center">
      <p>Make the best use of your free time, with our geolocation-based adventure planner.</p>
      <a href="#" data-template="index" class="button-transparent-blue" id="show-map" >
        Plan it!
      </a>
    </div>
  </div> 
</div>
<!-- <div class="mainpage-content">
</div> -->