<div class="mainpage-background center">
 <div class="shader">
  <div class="titles-div">

      <p class="primary-font title ">Make good time</p>


    <div class="secondary-title">
      <p>A cool day planner</p>
    </div>  
  </div>  

  <div class="description center">
    <p>
      Description about the app because we like words and cool stuff like cats
    </p>
  </div>

  <a href="#" data-template="index" class="button-transparent-blue" id="map-nav" >
    Let's plan
  </a>

</div> 


</div>

<div class="mainpage-content">
  


</div>