<div class="filter-box">
  
  <h1 class="center index-h1">What do you want to do?</h1>
<hr>
  <ul class="left-items filters">
    <li>
        <input type="checkbox" value="Bars" id="filter-Bars" data-category-id="bar"/>
        <img src="/public/icons/bars-icon.svg">
        <label for="filter-Bars">Bars</label>
    </li>
    <li>
        <input type="checkbox" value="Museums" id="filter-Museums" data-category-id="museum"/>
        <img src="/public/icons/museums-icon.svg">
        <label for="filter-Museums">Museums</label>
    </li>
    <li>
        <input type="checkbox" value="Sport" id="filter-Sport" data-category-id="sport"/>
        <img src="/public/icons/sport-icon.svg">
        <label for="filter-Sport">Sport</label>
    </li>
    <li>
        <input type="checkbox" value="Night Club" id="filter-night_club" data-category-id="night_club"/>
        <img src="/public/icons/nightclub-icon.svg">
        <label for="filter-night_club">Night Club</label>
    </li>
    <li>
        <input type="checkbox" value="Library" id="filter-library" data-category-id="library"/>
        <img src="/public/icons/library-icon.svg">
        <label for="filter-night_club">Library</label>
    </li>
  </ul>
  <ul class="right-items filters">
    <li>
        <input type="checkbox" value="books" id="filter-books" data-category-id="book_store"/>
        <img src="/public/icons/bookstore-icon.svg">
        <label for="filter-books">Book Store</label>
    </li>
    <li>
        <input type="checkbox" value="Cafe" id="filter-Cafe" data-category-id="cafe"/>
        <img src="/public/icons/coffee-icon.svg">
        <label for="filter-Cafe">Cafe</label>
    </li>
    <li>
        <input type="checkbox" value="Arts" id="filter-Arts" data-category-id="art_gallery"/>
        <img src="/public/icons/art-gallerie-icon.svg">
        <label for="filter-Arts">Arts</label>
    </li>
    <li>
        <input type="checkbox" value="Cinemas" id="filter-Cinemas" data-category-id="movie_theater" />
        <img src="/public/icons/cinema-icon.svg">
        <label for="filter-Cinemas">Cinemas</label>
    </li>
    <li>
        <input type="checkbox" value="Bakery" id="filter-Bakery" data-category-id="bakery" />
        <img src="/public/icons/bakery-icon.svg">
        <label for="filter-Bakery">Bakeries</label>
    </li>
  </ul>
  <div>
    <input type="submit center" value="Submit" id="select-filters" class="submit-button button-transparent-blue center"/>
  </div>
</div>
