<h1>Map</h1>
<ul id="filters">
  <li>
      <input type="hidden" value="0" onclick="filterMarkers(this.value);" />
  </li>
  <li>
      <input type="checkbox" value="Bars" id="Bars" onchange="filterMarkers(this.value);" />
      <label for="filter-Bars">Bars</label>
  </li>
  <li>
      <input type="checkbox" value="Musuems" id="Musuems" onchange="filterMarkers(this.value);" />
      <label for="filter-Musuems">Musuems</label>
  </li>
  <li>
      <input type="checkbox" value="Outdoor Activities" id="Outdoor Activities" onchange="filterMarkers(this.value);" />
      <label for="filter-Outdoor Activities">Outdoor Activities</label>
  </li>
  <li>
      <input type="checkbox" value="Food" id="filter-Food" onchange="filterMarkers(this.value);" />
      <label for="filter-Food">Food</label>
  </li>
  <li>
      <input type="checkbox" value="Science" id="filter-Science" onchange="filterMarkers(this.value);" />
      <label for="filter-Science">Science</label>
  </li>
  <li>
      <input type="checkbox" value="Music" id="filter-Music" onchange="filterMarkers(this.value);" />
      <label for="filter-Music">Music</label>
  </li>
  <li>
      <input type="checkbox" value="Arts" id="filter-Arts" onchange="filterMarkers(this.value);" />
      <label for="filter-Arts">Arts</label>
  </li>
  <li>
      <input type="checkbox" value="Cinemas" id="filter-Cinemas" onchange="filterMarkers(this.value);" />
      <label for="filter-Cinemas">Cinemas</label>
  </li>
</ul>

<!-- <select id="type" onchange="filterMarkers(this.value);">
    <option value="">Please select category</option>
    <option value="Bars">Bars</option>
    <option value="Musuems">Musuems</option>
    <option value="Outdoor Activities">Outdoor Activities</option>
</select> -->
