<div class="mainpage-background center">
<p class="primary-font title">Register</p>
  <form method="POST" action="/register">
    <div class="form-group">
      <input name="username" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
      <input name="email" placeholder="email" class="form-control">
    </div>
    <div class="form-group">
      <input name="password" placeholder="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <input name="passwordConfirmation" placeholder="Password Confirmation" type="password" class="form-control">
    </div>

    <button class="button-transparent-blue">Register</button>
  </form>
   
 </div>